* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2%;
}

.container__add {
    background-color: #BADEFF;
    border: 1px solid #BADEFF;
    border-radius: 20px;
    color: #264570;
    font-weight: 100;
    width: 12%;
    text-align: center;
    padding: 1%;
    box-shadow: #BADEFF;
    transition: box-shadow 0.3s ease;
}

.container__add:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}




.container__header{
    color: #454846;
    margin-bottom: 2%;
}

.container__header .tooltip a:hover{
    background-color: #f3f3f3;
}

.container__header .tooltip a{
    text-decoration: none;
    border-radius: 20px;
    color: #264570;
    width: 3%;
    text-align: center;
    padding: 5px;
    font-size: 25px;
}

.menu ul {
    list-style: none;
}

.menu {
    margin-top: 1%;
}

.menu li a {
    text-decoration: none;
    cursor: pointer;
    color: #264570;
}

.menu li:active {
    display: flex;
    justify-content: flex-start;
    background-color: #D8DAFF;
    color: #264570;
}




.menu li:hover {
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    color: #264570;
    font-weight: 100;
    width: 20%;
    justify-content: flex-start;
    align-self: start;
}


.tooltip {
    position: relative;
    display: flex;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: rgb(76, 74, 74);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 100%;
}

.tooltip .tooltiptext::after {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(76, 74, 74) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.tooltip .headertooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: rgb(76, 74, 74);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 4%;
    margin-left: -60px;
}


.tooltip .headertooltiptext::after {
    position: absolute;
    bottom: 100%;
    left: 3%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }


  .tooltip:hover .headertooltiptext {
    visibility: visible;
}

.headertooltiptext{
    font-size: smaller;
    font-weight: 20px;
}