* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2%;
}

.container__add {
    background-color: #BADEFF;
    border: 1px solid #BADEFF;
    border-radius: 20px;
    color: #264570;
    font-weight: 100;
    width: 12%;
    text-align: center;
    padding: 1%;
    box-shadow: #BADEFF;
    transition: box-shadow 0.3s ease;
}

.container__add:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* Header styles */

.container__header {
    color: #454846;
    margin-bottom: 2%;
}

.container__header .tooltip a:hover {
    background-color: #f3f3f3;
}

.container__header .tooltip a {
    text-decoration: none;
    border-radius: 20px;
    color: #264570;
    width: 3%;
    text-align: center;
    padding: 5px;
    font-size: 25px;
}

/* List styles */

.menu ul {
    list-style: none;
}

.menu {
    margin-top: 1%;
}

.menu li a {
    text-decoration: none;
    cursor: pointer;
    color: #264570;
}


.menu .active {
    background-color: #D3E3FD;
    color: white;
    border-radius: 10px;
    font-weight: 100;
    width: 20%;
    justify-content: flex-start;
    align-self: start;
}


.menu li:hover {
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    color: #264570;
    font-weight: 100;
    width: 20%;
    justify-content: flex-start;
    align-self: start;
    cursor: pointer;
}

.menu .active:hover {
    background-color: #D3E3FD;
    border: none;
}

/* Tooltip style*/

.tooltip {
    position: relative;
    display: flex;
}

.tooltip .tooltiptext,
.tooltip .headertooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: rgb(76, 74, 74);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
}

.tooltip .tooltiptext {
    z-index: 1;
    top: -5px;
    left: 100%;
}

.tooltip .tooltiptext::after,
.headertooltiptext::after {
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.tooltip .tooltiptext::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent rgb(76, 74, 74) transparent transparent;
}

.tooltip:hover .tooltiptext,
.headertooltiptext {
    visibility: visible;
}

.tooltip .headertooltiptext {
    top: 105%;
    left: 4%;
    margin-left: -60px;
}


.tooltip .headertooltiptext::after {
    bottom: 100%;
    left: 3%;
    margin-left: -5px;
    border-color: transparent transparent black transparent;
}

.headertooltiptext {
    font-size: smaller;
    font-weight: 20px;
}

/* .app-sidebar-button .slot[slot="icon"]{
    position: absolute;
    top: 0;
    left: 90%;
    color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.app-sidebar-button {
    position: relative;
} */